.loginPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
};

.formContainer {
    display: flex;
    flex-direction: column;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
}


.imgContainer img {
    width: 125px;
    padding-bottom: 10px;
}
