.foodRecipe {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.buttonsContainer {
    display: flex;
    gap: 10px;
}

.card-body {
    display: flex;
    width: 100% !important;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #E2E3E5;    
}

.card {
    display: flex !important;
    flex-direction: column !important;
    width: 95% !important;
    margin-bottom: 5px;
}

.card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shareAndFavoriteBtn {
    width: 30px;
}

.list-group {
    width: 95%;
    margin-bottom: 5px;
}

.carousel-inner {
    width: 95%;
}