.foodRecipe {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.pageBody {
    margin-bottom: 40px;
}

.buttonsContainer {
    display: flex;
    gap: 10px;
}

.cardBody {
    display: flex;
    width: 100% !important;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #E2E3E5;    
}

.recipeCard {
    display: flex !important;
    flex-direction: column !important;
    width: 95% !important;
    margin-bottom: 5px;
}

.cardTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shareAndFavoriteBtn {
    width: 30px;
}

.listGroup {
    width: 95%;
    margin-bottom: 5px;
}

.carousel-inner {
    width: 95%;
}

.startRecipeBtn {
    position: fixed;
    bottom: 0;
    width: 95%;
    z-index: 2;
}