.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: fit-content;
    justify-content: space-around;
    align-items: center;
    background-color: #FCAC0D;
    padding-top: 10px;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FCAC0D;
    align-items: center;
    padding-bottom: 5px;
}


/* Verificar o que fazer para acessar o input */
/* .btn-secondary input {
    display: none;
} */