.foodRecipe {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/* .card {
    width: 95%;
    margin-bottom: 5px;
} */

/* .list-group {
    width: 95%;
    margin-bottom: 5px;
} */

.carousel-inner {
    width: 95%;
}